<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GibJon Tutoring</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="header">
    <div class="container">
    <div class="logo">
      <img src="{{ url_for('static', filename='Gibjohn.png') }}" alt="GibJon Logo" width="80" height="auto">
    </div>
    <nav>
      <div class="nav-links">
        <a href="/">Home Page</a>
        <a href="/tutoring">Tutoring</a>
        <a href="/quizzes">Quizzes</a>
        <a href="/study">Study</a>
      </div>
    </nav>
      <div class="search-bar">
        <input type="text" placeholder="search...">
      </div>
    </div>
  </header>

  <div class="background-photo">
    <h1 class="title">Welcome To GibJohn Tutoring!</h1>

    <div class="drop-down">
      <label for="yeargroup"></label>
      <select id="yeargroup" name="yeargroup">
      <option value="">Choose a Year group:</option>
      <option value="All Levels">All Levels</option>
      <option value="Primary">Primary</option>
      <option value="KS3">KS3</option>
      <option value="GCSE">GCSE</option>
      <option value="A-level">A-level</option>
      <option value="Degree">T-level</option>
      </select>
    </div>

  </div>



</body>
</html>
